@import "../../global.scss";
.wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 160px;
    .left {
        .title {
            color: #FFF;
            font-family: Poppins;
            font-size: 48px;
            font-style: normal;
            font-weight: 600;
            line-height: 160%;
            letter-spacing: 0.48px;
            max-width: 622px;
            margin-bottom: 24px;
        }
        .text {
            color: rgba(255, 255, 255, 0.70);
            font-family: Poppins;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 170%;
            letter-spacing: 0.18px;
            max-width: 570px;
            margin-bottom: 48px;
        }
        
        }
    }
@media (max-width:1120px) {
    .wrapper {
        margin-bottom: 50px;
        flex-direction: column;
        .left {
            text-align: center;
            margin: 0 auto;
        }
        .right {
            text-align: center;
            margin: 0 auto;
        }
    }
}
@media (max-width:1120px) {
    .wrapper {
      .left {
        margin-bottom: 20px;
      }
        
    }
}
@media (max-width:600px) {
    .wrapper {
        .left {
            .title {
                font-size: 28px;
            }
        }
        
    }
}

