.wrapper {
    max-width: 470px;
    display: flex;
    align-items: center;
    padding: 20px 0 16px 20px;
    transition: all 0.5s ease;
    background: #00040F;
    border-radius: 20px;
    position: relative;
    margin-bottom: 14px;

    &:hover {
        background: linear-gradient(154deg, rgba(221, 219, 219, 0) 0%, #534c64 100%);
        box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.10);
    }
    
    div {
        margin-right: 20px;
    }
    .img {
        max-width: 38px;
    }
    .title {
        color: #FFF;
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
        letter-spacing: 0.18px;
        text-transform: capitalize;
        margin-bottom: 8px;
    }
    .text {
        color: rgba(255, 255, 255, 0.70);
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .circle {
        background-color: rgba(9, 151, 124, 0.10);
        width: 64px;
        height: 64px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(154deg, rgba(221, 219, 219, 0) 0%, #534c64 100%);
    transition-duration: 0.5s;
    opacity: 0;
    border-radius: 20px;
}

.wrapper:hover::after {
    opacity: 1;
}
@media (max-width:1120px) {
    .wrapper {
        flex-direction: column;
        .circle {
            margin-right: 0;
            margin-bottom: 15px;
        }
    }
}