.wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 170px;
    .img {
        max-width: 528px;
    }
    .content {
        
        .title {
            color: #FFF;
            font-family: Poppins;
            font-size: 48px;
            font-style: normal;
            font-weight: 600;
            line-height: 160%;
            letter-spacing: 0.48px;
            margin-bottom: 24px;
            max-width: 570px;

        }
        .text {
            color: rgba(255, 255, 255, 0.70);
            font-family: Poppins;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%;
            letter-spacing: 0.18px;
            margin-bottom: 48px;
            max-width: 500px;
        }
    }

}
@media (max-width:1120px) {
    .wrapper {
            flex-direction: column;
            .content {
                margin: 0 auto;
                text-align: center;
            }
            .img {
               
                margin: 30px auto 0 auto;
            }

    }
}
@media (max-width:600px) {
    .wrapper {
        .content {
            .title {
                font-size: 24px;
                text-align: center;
            }
        }
        .img {
            max-width: 300px;
        }
        
    }
}