.wrapper {
    border-radius: 20px;
    position: relative;
    &:hover {
        background: linear-gradient(154deg, rgba(221, 219, 219, 0) 0%, #534c64 100%);
        box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.10);
    }
    padding: 60px 40px;
    .img {
        margin-bottom: 40px;
    }
    .text {
        color: #FFF;
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 180%;
        letter-spacing: 0.36px;
        min-height: 128px;
        margin-bottom: 24px;
    }
    .content {
        display: flex;
        align-items: center;
        .photo {
            margin-right: 16px;
            max-width: 48px;
        }
        .text_wrapper {
            display: flex;
            flex-direction: column;
            .name {
                color: #FFF;
                font-family: Poppins;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px;
            }
            .job {
                color: #FFF;
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                opacity: 0.5;
            }
        }
    }
}
.wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(154deg, rgba(221, 219, 219, 0) 0%, #534c64 100%);
    transition-duration: 0.7s;
    opacity: 0;
    border-radius: 20px;
}

.wrapper:hover::after {
    opacity: 1;
}
@media (max-width:1120px) {
    .wrapper {
        text-align: center;
        margin: 0 auto;
        .content {
           justify-content: center;
        }
        
        
    }
}