@import "../../global.scss";

.stats__row {
    display: flex;
    justify-content: space-between;
    margin-top: 143px;
    margin-bottom: 180px;
    
    .stats {
        display: flex;
        align-items: center;
        .number {
            color: #FFF;
            font-family: Poppins;
            font-size: 40.893px;
            font-style: normal;
            font-weight: 600;
            line-height: 130%;
            margin-right: 25px;
        }
        .text {
            font-family: Poppins;
            font-size: 20.446px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
            text-transform: uppercase;
            background: linear-gradient(to left, #DEF9FA, #BEF3F5, #9DEDF0, #7DE7EB, #5CE1E6, #33BBCF);
            background-clip: text;
            color: transparent;
        }
    }
    .border {
        width: 1.704px;
        height: 13.631px;
        background: rgba(255, 255, 255, 0.60);

    }
}
@media (max-width: 1046px) {
    .stats__row {
        flex-direction: column;
        margin-top: 83px;
        margin-bottom: 80px;
        .stats {
            justify-content: center;
            min-width: 200px;
        }
    }
}
@media (max-width: 400px) {
    .stats__row {
       
        .stats {
          .number {
            font-size: 24px;
          }
        }
    }
}