.wrapper {
    padding: 72px 133px 72px 97px;
    border-radius: 20px;
    background: linear-gradient(3deg, rgba(221, 219, 219, 0) 0%, #534c64 100%);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    margin: 0 auto 155px auto;
    .content {
        .title {
            color: #FFF;
            font-family: Poppins;
            font-size: 48px;
            font-style: normal;
            font-weight: 600;
            line-height: 140%;
            max-width: 670px;
            margin-bottom: 24px;
        }
        .text {
            color: rgba(255, 255, 255, 0.70);
            font-family: Poppins;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%;
            letter-spacing: 0.18px;
            max-width: 445px;
        }

    }
    .btn_wrapper {
        margin-top: 51px;
    }
}
@media (max-width:1120px) {
    .wrapper {
        text-align: center;
        margin: 0 auto;
        flex-direction: column;
        margin-bottom: 50px;
        .content {
            text-align: center;
            margin: 0 auto;
            .text {
                margin: 0 auto;
                text-align: center;
            }
        }
        
        
    }
}
@media (max-width:540px) {
    .wrapper {
        padding: 40px 80px 40px 80px;
        .content {
            .title {
                font-size: 30px;
            }
           
            .text {
                margin: 0 auto;
                text-align: center;
            }
        }
        
        
    }
}
@media (max-width:600px) {
    .wrapper {
        .content {
            .title {
                font-size: 24px;
                text-align: center;
            }
        }
        
    }
}