.footer {
    .top {
        display: flex;
        justify-content: space-between;
        padding-bottom: 40px;
        border-bottom: 1px solid #3F3E45;;
        .top1 {

            img {
                margin-bottom: 34px;
            }
            p {
                max-width: 312px;
                color: rgba(255, 255, 255, 0.70);
                font-family: Poppins;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px;
                margin-left: 25px;
            }
        }
    }
    .bottom {
        display: flex;
        justify-content: space-between;
        padding: 30px 0 30px 30px;
        color: rgba(255, 255, 255, 0.60);
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        align-items: end;
        min-height: 25px;
        img {
            margin: 0 15px;
            min-height: 25px;
            max-width: 16px;
        }
        .social {
            img {
                max-width: 20px;
            }
        }
    }
}
 h6 {
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 24px;
 }
 ul {
    a {
        color: rgba(255, 255, 255, 0.70);
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }
    li:not(:last-child) {
    margin-bottom: 12px;
    }
}
@media (max-width:1000px) {
    .footer {
        .top {
            flex-direction: column;
            justify-content: center;
            margin: 0 auto;
            text-align: center;
            .top1 {
                p {
                    text-align: center;
                    margin: 10px auto 10px auto;
                }
            }
        }
        
    }
}
        