@import "../global.scss";

.header {
    font-size: $mainFontSize;
    .nav {
        display: flex;
        justify-content: space-between;
        padding: 35px 0;
        align-items: center;
        min-height: 32px;
        .logo {
            max-width: 118px;
        }
        .menu__burger {
            display: none;
            cursor: pointer;
            flex-direction: column;
            justify-content: space-between;
            width: 40px;
            height: 30px;
            span {
                width: 100%;
                height: 3px;
                background: linear-gradient(to bottom, #DEF9FA, #BEF3F5, #9DEDF0, #7DE7EB, #5CE1E6, #33BBCF);
            }
        }
        .burger__menu {
            position: fixed;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            width: 220px;
            height: 100%;
            background-color: #00040F;
            border-top-right-radius: 20px;
            z-index: 50;
            box-shadow: 0 0 4px rgba(0,0,0,0.25);
            transition: transform 0.3s linear;
            padding: 40px 40px 0 70px;
            background: linear-gradient(3deg, rgba(221, 219, 219, 0) 0%, #534c64 100%);
            backdrop-filter: blur(5px);
            .phone__menu {
                .item_link {
                    .list_item {
                        font-size: 20px;
                    }
                }
            }
       
            
        }
    }
    .list {
        display: flex;
        .list_item {
            color: $mainColor;
            transition-duration: 0.5s;
            &:hover {
                color: #ffff;
            }
            }
           
        }
        .item_link:not(:last-child) {
            margin-right: 55px;
        .active {
             color: #ffff;
            }
    }
   
    
}
@media (max-width:620px){
    .header{
        .nav {
            .menu__burger {
                display: flex;
            }
            .list {
                display: none;
            }
        }
        
    }
   
   
}